@font-face {
  font-family: "Roboto Regular";
  src: url(../font/Roboto-Regular.ttf);
}
@font-face {
  font-family: "Valera Round";
  src: url(../font/VarelaRound-Regular.ttf);
}
*,
body {
  margin: 0;
  padding: 0;
  text-decoration:none;
  list-style-type: none;
  font-family: "Valera Round";

}
.flex, .flexadmin{
  display: flex;
}
.logo {
  width: 10%;

}
.logoES {
  width: 100%;
}
header {

  position: fixed;
  height: 10vh;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  
  padding: 20px 0;
  background-color: rgb(218,214,243);
  top: 0;
  left: 0;
  
  z-index: 2;
  
}

.navigation {
  margin-left: 5%;

}
.main-menu {
  justify-content: end;
  padding: 0;

  text-transform: uppercase;
}

.main-menu .main-menu-element {
  padding: 0 1.5rem;
}
.main-menu .main-menu-element a {
  color: rgb(57, 51, 97);
  text-decoration: none;
  font-size: 1vw;
  font-weight: 600;
  letter-spacing: 1px;
  
}

.main-menu .main-menu-element a:hover {
  color: white;
}
/* SEPARATION DES ELEMENTS DU MENU PAR UN BORDER SAUF LE DERNIER */
.main-menu .main-menu-element:not(:nth-last-child(-n + 1)) {
  border-right: 1px solid black;
}
.btnConnect {
  flex-direction: column;
}
.ident {
  font-size: 0.8vw;
  margin-top: 10px;
}
.btn-grad {
  background-image: linear-gradient(
    to right,
    #a399e0 0%,
    #da73c3 51%,
    #a399e0 100%
  );
}
.btn-grad {
  margin: 0 auto;
  font-size: 0.8vw;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  display: block;
  min-width: 120px;
  height: 30px;
}

.btn-grad:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}


.form {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.footer {

  margin-top: 14vh;
}


.contentFooter {
  justify-content: center;

  background-color: rgb(218,214,243);
  width: 100%;
  padding: 20px 0;
  
}
.logoFooter {
 width: 8vw;
 
}
.imgLogoFooter {
  width: 100%;
  object-fit: cover;
 }


.contentContact {
  flex-direction: column;
  border-left: 1px solid black;
  padding-left: 3%;
  justify-content: center;

  margin-left: 3%;
}


.contentContact h3 {
  font-size: 1vw;
}
.contentContact span,
a {
  font-size: 0.8vw;
  color: black;
}
.contentContact span {
  margin-top: 1%;
}

/* -----------------TUTOVIDEO--------------------- */

.headSection {
  text-align: center;
  margin-top: 20vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a a a"
    "b b b"
    "c . .";
}
.headSection h2 {
  grid-area: a;
  margin: 20px;
}
.headSection p {
  margin: 20px;
}
.divSearch {
  grid-area: b;
  font-weight: bold;
}
.link1 {
  grid-area: c;
max-width: 8vw;
justify-self: center;

}


.link1, .link2, .link3 {
  font-size: 1.17em;
  font-weight: bold;
  color: #a399e0;
  margin: 0 10px;
  border: 1px solid #a399e0;
border-radius: 15px;
  padding: 0 5px;
}
.link1:hover, .link2:hover, .link3:hover {
  border: 1px solid white;
  color: white;
  background-color: #a399e0;
}
.tutotop {
  text-align: center;
  margin-top: 20vh;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "a a a"
    "b b b"
    ". c .";
}

.tutotop h2 {
  grid-area: a;
  margin: 20px;
}
.tutotop p {
  grid-area: b;
  font-weight: bold;
}
.tutotop h3 {
  grid-area: c;
}

.tutovideo {
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: 20px;
}
.titleSection {
  margin-top: 25vh;

}
.titleSection h2 {
  text-align: center;
  color: rgba(163, 153, 224)
}
.titleSection p {
  margin-left: 20vw;
}
.contentbox {
  
  width: 20%;
  
  text-align: center;
  margin: 15px;
}
.box:hover {
  transform: scale(1.1);
}

.screen {
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
  cursor: pointer;
}

.headSection h2, h3 {
  color: rgba(163, 153, 224)
}



/********* track*******/

.track {
  margin: 5vh 0 10vh;
}
.contentTrack {
  
  width: 60%;

  margin: 0 auto;
  border: 1px solid black;
  text-align: center;
  
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "d d d"
    "e f g"
    "h h h";
}

.flexTrack {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.trackTop {
  grid-area: d;
  border: 1px solid black;
  background-color: rgb(163, 153, 224);
  flex-direction: column;
  justify-content: center;
}
.trackName {
  grid-area: e;
  border: 1px solid black;
}
.trackInfo {
  grid-area: f;
  border: 1px solid black;
}
.trackPhone{
  grid-area: g;
  border: 1px solid black;
}
.trackContent {
  grid-area: h;
flex-direction: column;
  border: 1px solid black;
  background-color: rgb(163, 153, 224);
}
.trackHistory {


  display: flex;
  justify-content: center;
  align-items: center;
}
.blockMsg {
  margin-top: 25vh;

}

.msgTitle {
  margin: 5px;
}
.msgData {
  margin: 10px 10px;
}
.msgLink {
flex-direction: column;
justify-content: space-between;
}
.msgLink a {
  margin: 2px 10px;
  border: 1px solid black;
}
.dot {
  width: 32px;
  height: 32px;
  background: #8ecc14;
  border-radius: 100%;
  margin: 0 auto;
}
.dotOff {
  width: 32px;
  height: 32px;
  border: 1px solid black;
  border-radius: 100%;
  margin: 0 auto;
}
.boxTrack {
  
  width: 100px;
}



/* ******* info ******** */

/* ******* track admin ******** */
.divSearch {

margin: 0 auto;

}
td {
  text-align: center;
}
.table {
 width: 80vw;
  margin: 8vh auto;
  border: 1px solid black;
}
.TrackAdmin:nth-child(odd) {

  background-color: rgb(163, 153, 224);

}
.btn-gradManage {
  background-image: linear-gradient(
          to right,
          #a399e0 0%,
          #da73c3 51%,
          #a399e0 100%
  );
}
.btn-gradManage {

  font-size: 0.8vw;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  min-width: 120px;
  height: 20px;
  display: table-cell;
  vertical-align: middle;
  padding: 0 5px;
  cursor: pointer;
}

.btn-gradManage:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
.divBtn {
  text-align: center;
}

/* ******* end track admin ******** */

/* ******* Msg ******** */

.contentMsg {
  margin: 0 auto;
}
.contentReadMsg {
  margin: 0 auto;
  min-width: 50vw;
  max-width: 50vw;
}

.contentMsgH3 {
  margin: 20px 10px 40px;
  justify-content: start;
}
.msg {
  margin: 10vh;
  justify-content: center;
}
/* ******* end Msg ******** */

/* ******* bootstrap ******** */
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input-group {
  position: relative;
  display: flex;
  margin: 30px;
  align-items: stretch;
  width: 100%;
}
.input-group-text {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.container {
  width: 100%;
 margin-right: auto;
  margin-left: auto;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.col-1 {
  flex: 0 0 auto;
  width: 8.33333333%;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66666667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.33333333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66666667%;
}

.col-12 {
  flex: 0 0 auto;
  width: 100%;
}

.m-5 {
  margin: 3rem !important;
}
.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}
.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}
.fw-bold {
  font-weight: 700 !important;
}
.text-center {
  text-align: center !important;
}
.d-flex {
  display: flex !important;
}
.justify-content-center {
  justify-content: center !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
/* ******* end bootstrap ******** */