body {

}
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.logo {
    width: 20%;
    margin: 40px;
}
.ImgLogo {
    width: 100%;
    object-fit: cover;
}

.form {
    background-color: rgba(163, 153, 224, 0.4);
    width: 30vw;
    padding: 20px;
    border-radius: 15px;
}
